/*IMPORT ZEWNĘTRZNYCH PLIKÓW CSS*/
/*@import url('html5reset-1.6.1.css');*/
/*@import url('bootstrap.min.css');*/
/*@import url('pace-theme-bounce.css');*/
/*@import url('nice-select.css');*/

/*old color 0BC687*/
/*new one #0BC687;*/

span.highlight {
    color: #0BC687;
    font-weight: bold;
}

.test-short{
    display: none;
}

/*COMMON*/
.active {
    color: #0BC687 !important;
}

.parallax {
    opacity: 0;
    transform: translatey(-50px);
    transition: all 0.8s ease-in-out;
}

.wysuniecie {
    opacity: 1;
    transform: translateX(0px);
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #0BC687;
}

::selection {
    color: #fff;
    background: #0BC687;
}

a.button,
input.btn-primary,
button.btn-primary,
#free_form_save{
    display: inline-block;
    background: none;
    border: 2px solid #0BC687;
    padding: 10px 15px;
    font-size: 1.5em;
    color: #0BC687;
    font-weight: 600;
    margin-top: 30px;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
}

a.button.bigger {
    font-size: 2em;
    padding: 20px 35px;
    margin-top: 50px;
}

a.button:focus,
input.btn-primary:focus {
    text-decoration: none;
}

a.button:hover,
input.btn-primary:hover,
#free_form_save:hover,
button.btn-primary:hover,
a.button:focus,
input.btn-primary:focus,
#free_form_save:focus,
button.btn-primary:focus{
    background: #0BC687;
    border: 2px solid #0BC687;
    color: #fff;
    text-decoration: none;
}

*:focus {
    outline: none;
}

.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background: #0BC687;
}

.nopadding{
    padding: 0;
}

.mt20{
    margin-top: 20px !important;
}


.mt60{
    margin-top: 60px !important;
}

.mb40{
    margin-bottom: 40px !important;
}

/*STYLIZACJA STRONY GŁÓWNEJ*/

body {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-align: center;
    overflow-x: hidden;
}

header #header-top {
    height: 70px;
    width: 100%;
    transition: all 0.4s ease-in-out;
    background: rgba(00, 00, 00, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

#cv header #header-top{
    background: rgba(00, 00, 00, 0.2);
}

header #header-top.sticky {
    background: rgba(22, 22, 22, 0.6);
    height: 50px;
}

header .burger {
    margin-left: 50px;
    margin-top: 17px;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    float: left;
    transition: 0.4s;
}

header .burger:hover {
    color: #0BC687;
}

header #header-top.sticky .burger {
    margin-top: 5px;
    font-size: 23px;
}

header .burger i {
    padding-right: 10px;
    line-height: 40px;
    top: 3px;
}

header .traggle-menu {
    display: none;
    width: 215px;
    background: #141212;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    z-index: 999;
}

header .traggle-menu .logo{
    background: #0BC687;
    border-radius: 5px;
    width: 80%;
}

header .traggle-menu .logo h2{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    padding-bottom: 15px;
}

header .traggle-menu img.logo {
    width: 120px;
    margin: 10px;
}

header .traggle-menu .close {
    display: inline-block;
    padding: 20px;
    color: #fff;
    opacity: 1;
}

header .traggle-menu .logo {
    margin: 60px auto 40px auto;
}

header .traggle-menu nav ul {
    width: 94%;
    margin: 0 2% 0 4%;
}

header .traggle-menu nav ul li {
    text-align: left;
    height: 30px;
    line-height: 35px;
}

header .traggle-menu nav ul li a {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

header .traggle-menu nav ul li a i {
    width: 33px;
}

header .traggle-menu nav ul li.active a {
    color: #0BC687;
}

header .traggle-menu .close:hover {
    opacity: 0.6;
}

header .traggle-menu ul {
    margin-top: 10px;
    margin-left: 24px;
    text-align: left;
    line-height: 25px;
    padding-bottom: 50px;
}

header .icons-header ul {
    margin-top: 21px;
    margin-right: 20px;
    transition: 0.4s;
}

header #header-top.sticky .icons-header ul {
    margin-top: 5px;
}

header .icons-header ul li {
    float: right;
    display: inline-block;
    margin-right: 30px;
    font-size: 25px;
}

header .icons-header ul li a {
    color: #fff;
}

header .icons-header ul li a:hover {
    color: #0BC687;
}

header .icons-header ul li .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.4s;
    transform: scale(1)
}

header .icons-header ul li .user-avatar:hover {
    transform: scale(1.2)
}

header #header-top.sticky .icons-header ul li .user-avatar {
    width: 35px;
    height: 35px;
    margin-top: -5px;
}

header #header-top.sticky .icons-header ul li {
    font-size: 20px;
}

header #header-top .social-media li:first-child,
header #header-top .languages li:first-child {
    margin-left: 0;
}

header #header-top .social-media li,
header #header-top .languages li {
    display: inline-block;
    font-size: 30px;
    margin-left: 15px;
}

header #header-top .languages li {
    font-size: 20px;
    font-weight: bold;
}

header #header-top .social-media li a,
header #header-top .languages li a {
    color: #fff;
}

header #header-top .social-media li a:hover,
header #header-top .languages li a:hover {
    color: #0BC687;
}

header #header-top .bar-lang{
    margin-top: -3px;
}

header #header-top.sticky .bar-lang{
    margin-top: 0;
}

header #header-top .bar-lang a{
    font-size: 19px;
    font-weight: bold;
}

header #header-top.sticky .bar-lang a{
    font-size: 16px;
    font-weight: bold;
}

header #header-top .bar-lang a.active{
    color: #0BC687;
}

.static-top {
    height: 550px;
    border-bottom: 30px solid #0BC687;
}

.static-top img.img-background {
    height: 100%;
    width: 100%;
}

.static-top h1 {
    position: absolute;
    top: 100px;
    color: #fff;
    font-weight: bold;
    font-size: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*::::::::::::::::LOGIN + SEARCH MODAL BOX:::::::::::::::::*/

.modal-backdrop {
    opacity: 0.8 !important;
}

#login-modal .modal-content,
#search-modal .modal-content {
    color: #fff;
    background: url("../img/modal_bg.jpg") center no-repeat;
    border: 4px solid #0BC687;
    background-size: cover;
}

#login-modal .modal-footer,
#login-modal .modal-header {
    border: none;
}

#login-modal .modal-title,
#search-modal .modal-title {
    font-size: 30px;
    font-weight: bold;
}

#login-modal .modal-body form {
    padding-top: 20px;
}

#login-modal .modal-body h6 {
    font-size: 30px;
    font-weight: bold;
}

#login-modal .modal-content .fa-user {
    font-size: 150px;
    margin-top: 20px;
}

#login-modal button.close {
    color: #fff;
    opacity: 0.8;
}

#login-modal .bad-credential {
    color: #0BC687;
    font-size: 22px;
}

#login-modal p.small {
    text-align: right;
    padding-top: 5px;
    margin-bottom: -5px;
}

.modal-footer, .modal-header {
    border: none;
}

#search-modal #search-input {
    height: 50px;
    font-size: 23px;
}

#search-modal .btn-lg {
    padding: 10px 16px;
    font-size: 21px;
    line-height: 1.3333333;
    border-radius: 6px;
}

/*SEKCJA HOME*/

#home {
    background-size: cover;
    border-top: 1px solid #000000;
    padding-bottom: 5px;
}

#home canvas {
    position: absolute;
    z-index: 1;
}

#home #imie {
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

#home #imie h1 {
    clear: both;
    color: #FFFFFF;
    padding-top: 30px;
    font-size: 80px;
    line-height: 50px;
    text-shadow: 3px 1px #000;
}

#home #imie a.button {
    color: #fff;
    border: 2px solid #fff;;
}

#home #imie a.button:hover {
    border: 2px solid #0BC687;
}

#home #imie h1 span {
    color: #0BC687;
}

#home #imie h1 strong {
    font-size: 40px;
}

/*SEKCJA Z O MNIE*/

#kim {
    min-height: 600px;
    border-top: 25px solid #0BC687;
    position: relative;
    z-index: 3;
    background: #fff;
}

#kim .col-md-6 {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-in-out;
}

#kim .wysuniecie {
    opacity: 1;
    transform: translateX(0px);
}

#kim .omnie {
    padding-top: 100px;
}

#kim .omnie h2 {
    color: #666;
    margin-bottom: 30px;
    font-size: 4em;
}

#kim .omnie span {
    color: #0BC687;
    font-weight: 900;
}

#kim .omnie p {
    color: #666;
    font-size: 1.5em;
    text-align: left;
}

#kim .omnie p a {
    color: #0BC687;
    font-weight: 900;

}

#kim img {
    width: 90%;
    height: 100%;
    margin-top: 100px;
}

/*SEKCJA Z TECHNOLOGIAMI*/

#technologie {
    min-height: 500px;
    background: url(../img/bg.slajder_01.jpg) right;
    padding-top: 60px;
}

#technologie h2 {
    color: #333333;
    font-size: 4em;
}

#technologie span {
    font-weight: 900;
}

/*SEKCJA Z PROJEKTAMI*/

#projekty {
    height: auto;
    padding: 50px 0 90px 0;
}

#projekty .projekt {
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 30px;

}

#projekty h2 {
    color: #333333;
    font-size: 4em;
    padding: 20px 0;
}

#projekty h2 span, #wspolpraca h2 span {
    font-weight: 900;
    color: #0BC687;
}

#projekty img {
    margin: 20px auto;
}

#projekty h3 {
    margin-top: 78px;
    padding-bottom: 20px;
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;
    color: #0BC687;
}

#projekty .project_desc p {
    font-size: 1.5em;
    text-align: left;
}

#projekty .project_desc ul {
    text-align: left;
    margin-top: 20px;
}

#projekty .project_desc ul li {
    display: inline-block;
    background: #0BC687;
    font-weight: 600;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    margin-top: 6px;
    margin-left: 3px;
}

#projekty .project_desc ul li a{
    color: #fff;
    transition: 0.4s;
}

#projekty .project_desc ul li a:hover{
    color: #102216;
    text-decoration: none;
}

.separator {
    margin: 30px auto;
    width: 80%;
    position: relative;
}

.separator .mask {
    overflow: hidden;
    height: 20px;
}

.separator .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 270px / 12px;
    box-shadow: 0 0 7px black;
}

/*TESTIMONIALS*/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
    color: #fff;
}

.section-container-image-bg .divider-1 .line {
    border-color: #fff;
    opacity: 0.8;
}

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
    padding: 0 120px;
}

.section-container-image-bg .section-description p {
    opacity: 0.8;
}

/***** Divider *****/

.divider-1 {
    padding: 25px 0 15px 0;
}

.divider-1 .line {
    width: 200px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

/***** Testimonials *****/

#testimonials h2 {
    color: #fff;
    font-size: 4em;
    padding: 20px 0;
}

#testimonials h2 span{
    color: #0BC687;
    font-weight: bold;
}

.testimonials-container {
    padding-bottom: 90px;
}

.testimonial-list {
    text-align: center;
}

.testimonial-list .testimonial-image img {
    max-width: 160px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 40px auto 0 auto;
}

.testimonial-list .testimonial-text {
    margin-top: 30px;
    height: 250px;
    position: relative;
}

.testimonial-list .testimonial-text p {
    opacity: 0.8;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.testimonial-list .testimonial-author{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

.testimonial-list .company{
    font-size: 16px;
    color: #fff;
}

.testimonial-list .testimonial-text p a,
.testimonial-list .company a{
    color: #0BC687;
}

.testimonial-list .testimonial-text p a:hover,
.testimonial-list .company a:hover{
    color: #0BC687;
}


.testimonial-list .nav-tabs {
    border: 0;
}

.testimonial-list .nav-tabs li {
    float: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.testimonial-list .nav-tabs li a {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    background: none;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus {
    background: #0BC687;
    border: 0;
}

/*BLOG*/

#blog {
    padding: 50px 0 100px 0;
}

#blog h2 {
    color: #333333;;
    font-size: 4em;
    padding: 0 0 70px 0;
}

#blog .thumbnail{
    margin-bottom: 0;
    height: 250px;
}

#blog h2 span{
    color: #0BC687;
    font-weight: bold;
}

#blog .article .parent{
    margin-top: -10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blog .article h3{
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

#blog .article p{
    font-size: 17px;
    color: #333;
    text-align: justify;
    height: 140px;
}

ul.pull-right {
    float: none !important;
    margin-top: 71px;
}

.pagination {
    font-size: 12px;
    font-weight: 300;
    color: #999999;
}

.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border: 1px solid #ddd;
}

.pagination > li > a:hover{
    background-color: #ccc;
}


.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus {
    background-color: #0BC687;
}


/*SEKCJA WSPÓŁPRACY*/

#wspolpraca {
    height: 450px;
    background: url(../img/medytacja.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

#wspolpraca h2 {
    font-size: 2.1em;
    font-weight: 900;
    padding-top: 30px;
    text-shadow: 3px 1px #000;
    margin-bottom: 30px;
}

#wspolpraca p {
    font-size: 1.5em;
    font-weight: 400;
    text-align: right;
    letter-spacing: 1px;
    text-shadow: 2px 1px #000;
}

#wspolpraca p span {
    font-weight: 600;
    text-shadow: 2px 1px #000;
}

/*SEKCJA Z KONTAKTEM*/

#kontakt {
    min-height: 400px;

}

#kontakt h2 {
    padding: 30px 0;
    color: #0BC687;
    font-size: 4em;
    font-weight: 900;
}

#kontakt p {
    font-size: 1.5em;
    color: #666666;
    padding: 5px 0;
    text-align: left;
    margin-left: 10%;
}

#kontakt p span {
    color: #0BC687;
    font-weight: 900;
}

#kontakt form {
    margin-top: 80px;
}

#kontakt form input[type=text],
#kontakt form input[type=email] {
    width: 49%;
    border-radius: 5px;
}

#kontakt form input[type=text] {
    float: left;
}

#kontakt form input[type=email] {
    float: right;
}

#kontakt form textarea {
    border-radius: 5px;
    height: 140px;

}

#kontakt form input:focus,
#kontakt form textarea:focus {
    border: 1px solid #0BC687;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#kontakt input.btn-primary {
    padding: 10px 30px;
    margin-top: 10px;
}

footer {
    background: #0BC687;
    height: 30px;
    line-height: 30px;
    font-size: 1.2em;
    color: #333;
    font-weight: 900;
}

.feedback_good {
    color: #0BC687;
    border: 1px solid #0BC687;
    font-size: 2em;
    margin: 20px 0;
}

.feedback_bad {
    color: #D21E1E;
    border: 1px solid #D21E1E;
    font-size: 2em;
    margin: 50px 0;
}

/*::::::::::::PODSTRONA Z PROJEKTAMI:::::::::::::*/


.projekty #projekty h1 {
    margin: 100px 0 70px 0;
    font-size: 60px;
    font-weight: bold;
}

.dropdown {
    width: 230px;
    margin: 0 auto;

}

.dropdown .dropdown-menu {
    width: 100%;
}

.dropdown .btn {
    background: #0BC687;
    border-radius: 10px;
    border: 1px solid #0BC687;
    width: 100%;
    padding: 10px 15px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background: #0BC687;
    border: 1px solid #0BC687;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #0BC687;
}

.dropdown-menu > li > a {
    font-size: 18px;
}

.btn .caret {
    /*float: right;*/
    margin-top: -2px;
    margin-left: 20px;
}

.caret {
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

/*::::::::::ERROR PAGE:::::::::::::*/

#error {
    height: 850px;
}

#error h2 {
    margin: 150px auto;
    color: rgb(0, 166, 81);
    font-weight: bold;
    font-size: 40px;
}

#error img {
    margin: 0 auto;
}


/*::::::::::::::::::BLOG - SPIS NEWSÓW::::::::::::::::::::::::*/

#blogList {
    background: #ececec;
}

#blogList #postList{
    margin: 50px 0;
}


#blogList #postList article{
    margin: 30px 0;
    -webkit-box-shadow: 10px 10px 26px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px 2px rgba(0,0,0,0.75);
    background: #fff;
    border-radius: 20px;
}

#blogList #postList article.imgLeft img{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#blogList #postList article.imgRight img{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#blogList #postList article .infoBox{
    text-align: right;
    padding: 10px;
    font-weight: bold;
}

#blogList #postList article h3{
    font-size: 25px;
    text-align: left;
    font-weight: bold;
}

#blogList #postList article p.dot{
    font-size: 20px;
    text-align: left;
}

#blogList #postList article a.button{
    padding: 10px 15px;
    font-size: 15px;
    float: right;
    margin-right: 20px;
}


/*::::::::::::::::::BLOG - SINGLE POST::::::::::::::::::::::::*/


#blogPost .static-top h1 {
    top: 130px;
    font-size: 75px;
    text-align: left;
    padding-left: 170px;
}

#blogPost .static-top .infoBox{
    position: absolute;
    top: 90px;
    margin-left: 170px;
    padding: 5px 8px;
    color: #fff;
    background: #0BC687;
    font-weight: bold;
    border-radius: 5px;
}

#blogPost article,
#staticPage article{
    padding: 100px 0;
}

#blogPost article .simpleArticle,
#staticPage article .simpleArticle{
    width: 60%;
    margin: 0 auto;
}

#blogPost article p,
#staticPage article p{
    line-height: 1.5;
    margin: 30px 0;
    font-size: 26px;
    text-align: left;
}

#blogPost article h3,
#staticPage article h3{
    font-size: 45px;
    font-weight: bold;
    margin-top: 60px;
    text-align: left;
}

#blogPost article img,
#staticPage article img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#blogPost article span.caption,
#staticPage article span.caption{
    margin-top: 10px;
    display: block;
    font-style: italic;
    font-size: 16px;
}

/*::::::::::::::::::STATIC PAGE::::::::::::::::::::::::*/

#staticPage article .panel-title {
    font-size: 30px;
    text-align: left;
}

/*Akordion*/

#staticPage article .panel-title a:hover,
#staticPage article .panel-title a:focus{
    color: #0BC687;
}

#staticPage article .panel-body{
    text-align: left;
    font-size: 20px;
}


/*::::::::::::::::::CV::::::::::::::::::::::::*/


#cv .cv-title{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 50px;
}

#cv .cv-top{
    height: 400px;
    background: #0BC687;

}

#cv .cv-top h1{
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin: 0;
    padding: 120px 0 0 120px;
}

#cv .cv-top h2{
    color: #fff;
    font-size: 23px;
    text-align: left;
    margin: 0;
    padding: 3px 0 0 120px;
}

#cv .cv-top .btn{
    float: right;
    margin-top: -62px;
    margin-right: 120px;
    border: 2px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

#cv .cv-top .btn:hover,
#cv .cv-top .btn:focus{
    background: #fff;
    color: #0BC687;
}

#cv{
    background: #ddd;
}

#cv main{
    margin-top: -150px;
}

#cv #personal-info{
    margin-bottom: 90px;
    height:488px;
}

#cv .personal-info {
    background: #fff;
    box-shadow: 4px 4px 5px 0px rgb(49, 49, 49);
}

#cv .personal-info .relative{
    position: relative;
    height: 488px;
}

#cv .personal-info h2{
    text-align: left;
    color: #0BC687;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: 15px;
}

#cv .personal-info h3{
    text-align: left;
    color: #a2a2a2;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 15px;
}

#cv .personal-info p{
    text-align: left;
    color: #7a7a7a;
    font-size: 20px;
    margin-top: 0;
    margin-left: 15px;
    width: 90%;
}

#cv .personal-info ul.main-info{
    text-align: left;
    color: #7a7a7a;
    font-size: 18px;
    margin-left: 15px;
    line-height: 30px;

}

#cv .personal-info ul.social{
    background: #0BC687;
    height: 50px;
    line-height: 50px;
    margin-top: 18px;
    margin-bottom: 0;
    text-align: left;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#cv .personal-info ul.social li{
    display: inline-block;
    margin-left: 13%;
}

#cv .personal-info ul.social li a{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
}

#cv .personal-info ul.social li a:hover{
    color: #ccc;
}


#cv #service .box{
    background: #fff;
    height: 200px;
    padding: 36px 20px;
    margin-bottom: 25px;
    box-shadow: 4px 4px 5px 0px rgb(49, 49, 49);
}

#cv #service .box i{
    color: #fff;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #0BC687;
    line-height: 60px;
}

#cv #service .box h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    height: 70px;
    position: relative;
}

#cv #service .box .box2{
    position: absolute;
    background: #fff;
    width: 84%;
    height: 115px;
    z-index: 2;
    opacity: 0;
    transform: scale(0.1);
    transition: 0.3s;
    visibility: hidden;
}

#cv #service .box:hover i,
#cv #service .box:hover h3{
    visibility: hidden;
}

#cv #service .box:hover .box2{
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

#cv #service .box .box2 p{
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    height: 115px;
}

#cv .skill .row{
    background: #fff;
    padding: 70px 50px 30px 50px;
    box-shadow: 4px 4px 5px 0px rgb(49, 49, 49);
}

#cv #skill h2{
    padding-top: 50px;
}

#cv #skill .tech{
    float: left;
    font-weight: bold;
}

#cv #skill .level{
    float: right;
    font-weight: bold;
}

#cv #skill .progress{
    width: 100%;
    height: 7px;
    padding: 0px;
    margin-bottom: 9px;
    background-color: #e3e3e3;
    border-radius: 10px;
}

#cv #skill .progress .progress-bar{
    background-color: #0BC687;
    border-radius: 10px;
}

#cv #skill .line{
    width: 90%;
}

#cv #education{
    position: relative;
}

#cv #education h2{
    padding: 50px 0;
}

.timeline:before {
    top: 160px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}

.timeline li.left{
    position: relative;
    width: 50%;
    float: left;
    clear: left;
    margin-top: 30px;
}

.timeline li.right{
    position: relative;
    width: 50%;
    float: right;
    clear: right;
    margin-top: 30px;
}


.timeline .timeline-panel{
    background: #fff;
    width: 80%;
    /*height: 150px;*/
    float: right;
    padding: 20px 20px 50px 20px;
    text-align: left;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}

.timeline .left .timeline-panel{
    float: right;
    margin-right: 35px;
}

.timeline .right .timeline-panel{
    float: left;
    margin-left: 35px;
}

.timeline-panel:after {
    position: absolute;
    display: inline-block;
    content: " ";
    top: 27px;
}

.left .timeline-panel:after{
    right: 21px;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
}

.right .timeline-panel:after {
    left: 21px;
    border-top: 14px solid transparent;
    border-left: 0 solid #ffffff;
    border-right: 14px solid #ffffff;
    border-bottom: 14px solid transparent;
}


#cv .timeline-badge {
    color: #0BC687;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    z-index: 100;
}

#cv .left .timeline-badge {
    right: -12px;
}

#cv .right .timeline-badge {
    left: -12px;
}

#cv .university{
    font-size: 17px;
    color: #ccc;
    font-weight: bold;
}

#cv .title{
    font-size: 25px;
    color: #555;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
}

#cv .time{
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    background: #0BC687;
    width: 112px;
    text-align: center;
    float: left;
    line-height: 26px;
    position: absolute;
    bottom: 10px;
    margin-bottom: 0;
}

#cv .cert{
    position: absolute;
    right: 50px;
    bottom: 10px;
    border: 2px solid #0BC687;
    padding: 1px 15px;
    border-radius: 10px;
    color: #0BC687;
    font-weight: bold;
    transition: 0.5s;
}

#cv .right .cert{
    right: 95px;
}

#cv .cert:hover,
#cv .cert:focus{
    background: #0BC687;
    color: #fff;
}

#cv #experience{
    position: relative;
    padding-top: 100px;
    margin-bottom: 100px;
}

#cv #experience .timeline:before {
    top: 210px;
}

#cv #additional{
    padding: 60px 0;
}

#cv #additional .box{
    background: #fff;
    padding: 15px 20px 40px 30px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75);
}

#cv #additional .box ul {
    text-align: left;
}

#cv #additional .box ul li{
    font-size: 20px;
    line-height: 40px;
}

#cv #additional .box ul li i{
    color: #0BC687;
    width: 40px;
    font-size: 23px;
}


/*::::::::::::FORMULARZ DARMOWEJ WYCENY::::::::::::::*/

.free-form form{
    margin-top: 70px;
}

.free-form .form-horizontal .form-group {
    text-align: left;
}

.free-form label{
    font-size: 16px;
    font-weight: bold;
}

.free-form .radio > label,
.free-form .checkbox > label{
    font-size: 13px;
    font-weight: normal;
}


/*::::::::::::STRONA LOGOWANIA:::::::::::::*/

.login h1{
    margin: 150px auto 100px auto;
    font-weight: bold;
    color: #00a651;
}

.login form{
    margin: 50px auto;
}

#users footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
